.App{
	height: 100vh;
    background-image: url('../img/1339251.png');
    /* background: rgb(244,216,222); */
}



/* для App.js style
/*style={{height: "100vh", background: 'rgb(244,216,222)'}}*/ 


/* для App.js style
background: 'rgb(236,186,183)',
background: 'linear-gradient(171deg, rgba(236,186,183,1) 0%, rgba(246,229,229,1) 49%, rgba(236,186,183,1) 100%) */


/* для App.css 
background: rgb(236,186,183);
background: linear-gradient(171deg, rgba(236,186,183,1) 0%, rgba(246,229,229,1) 49%, rgba(236,186,183,1) 100%); */